.sketch-button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  /* background-color: #4c4177;*/
/* background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%); */
  border-radius: 11px;
  padding: 12px 20px;
  position: relative;
  line-height: 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), 0 4px 16px rgba(0, 0, 0, 0.02), 0 4px 24px rgba(0, 0, 0, 0.02);
}
.sketch-button.start svg {
  -webkit-animation: stroke 1s linear;
          animation: stroke 1s linear;
}
.sketch-button .lines {
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light;
  pointer-events: none;
  z-index: 1;
}
.sketch-button .lines > div {
  position: absolute;
  inset: 0;
}
.sketch-button .lines > div:last-child {
  transform: rotate(180deg);
}
.sketch-button .lines > div svg {
  display: block;
  position: absolute;
  inset: 0;
  overflow: visible;
  fill: none;
  stroke-width: 2;
  stroke: #c9e9ff;
  width: 100%;
  height: 100%;
  stroke-dasharray: 2 10;
  stroke-dashoffset: 14;
  opacity: 0;
}
.sketch-button .lines > div svg:nth-child(1) {
  stroke: #f8fcff;
}
.sketch-button .lines > div svg:nth-child(2) {
  stroke-width: 6px;
  filter: blur(20px);
}
.sketch-button .lines > div svg:nth-child(3) {
  stroke-width: 5px;
  filter: blur(6px);
}
.sketch-button .lines > div svg:nth-child(4) {
  stroke-width: 10px;
  filter: blur(56px);
}

@-webkit-keyframes stroke {
  30%, 55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}

@keyframes stroke {
  30%, 55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Inter", Arial;
  justify-content: center;
  align-items: center;
  background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
body:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://assets.codepen.io/165585/noise.png");
  background-size: cover;
  -webkit-mask-image: radial-gradient(circle at 50% 100%, transparent 50%, black);
  mask-image: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.3) 10%, black);
  opacity: 0.25;
}
body .twitter {
  position: fixed;
  display: block;
  right: 12px;
  bottom: 12px;
}
body .twitter svg {
  width: 32px;
  height: 32px;
  fill: rgb(163, 46, 46);
}